<!--<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Email</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.email %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>-->
<!--ovo je dodano-->
<h1>Posts</h1>
<div id="timer">Rendered at: <%= Time.now %></div> 
<div id="post_form">
 <%= render 'form' %>
</div>
<ul id="posts">
 <%= render :partial => @posts.reverse %>
</ul>
